<%= form_for(@decklist) do |f| %>
  <% if @decklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decklist.errors.count, "error") %> prohibited this decklist from being saved:</h2>

      <ul>
      <% @decklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>

  <% f.fields_for :cards do |card| %>
    <div class="field">
      <%= card.label :quantity %>
      <%= card.text_field :quantity %>
    </div>
    <div class="field">
      <%= card.label :name %>
      <%= card.text_field :name %>
    </div>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
  <%= link_to "Add Card", new_decklist_card_path(@decklist) %>
<% end %>





