<%= form_for(@decklist) do |f| %>
  <% if @decklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decklist.errors.count, "error") %> prohibited this decklist from being saved:</h2>

      <ul>
      <% @decklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="decklist_fields">
    <div class="field">
      <%= f.label :public, "Public Decklist?" %>
      <%= f.check_box :public %>
    </div>
    <div class="field">
      <%= f.label :name, "Decklist Name" %><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <%= f.fields_for :cards do |cards_form| %>
    <div class="card row">
      <div class="field col-xs-2">
        <%= cards_form.text_field :quantity, placeholder: "qty", class: "form-control" %>
      </div>
      <div class="field col-xs-10">
        <%= cards_form.text_field :name, placeholder: "card name", class: "form-control" %>
      </div>
    </div>
  <% end %>
  <div class="btn btn-success add-card">+ Card</div>



  <hr>
  <div class="actions">
    <%= f.submit nil, id: "submit", class: "btn btn-default" %>
  </div>
<% end %>
