<%= form_for(@decklist) do |f| %>
  <% if @decklist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decklist.errors.count, "error") %> prohibited this decklist from being saved:</h2>

      <ul>
      <% @decklist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="decklist_fields">
    <div class="field">
      <%= f.label :name, "Decklist Name" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
  </div>
  <%= f.fields_for :cards do |cards_form| %>
    <div class="field">
      <%= cards_form.label :quantity %>
      <%= cards_form.text_field :quantity %>
    </div>
    <div class="field">
      <%= cards_form.label :name %>
      <%= cards_form.text_field :name %>
    </div>
  <% end %>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
