<div class="container">
  <div class="row">
    <h1>Listing decklists</h1>
  </div>

  <% @decklists.each do |decklist| %>
    <div class="row" id=<%="decklist_#{decklist.id}"%>>
      <div class="col-md-3"><h2><%= decklist.name %></h2></div>
      <div class="col-md-5"><h3><%= decklist.description %></h3></div>

      <div class="col-md-1"><%= link_to 'Show', decklist %></div>
        <div class="col-md-1"><%= link_to 'Edit', edit_decklist_path(decklist) %></div>
        <div class="col-md-1"><%= link_to 'Destroy', decklist, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>

<br>

<%= link_to 'New Decklist', new_decklist_path, :class => "btn btn-default", :method => "get" %>
