<div class="container">
  <div class="row">
    <h1>Listing decklists</h1>
  </div>
  <hr>
  <div class="row">
    <h2>Your decklists</h2>
    <table class="table table-hover">
      <% if @current_user %>
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @my_decklists.each do |decklist| %>
            <tr id=<%="decklist_#{decklist.id}"%>>
              <td><%= decklist.name %></td>
              <td><%= decklist.description %></td>

              <td><%= link_to 'Show', decklist %></td>
              <td><%= link_to 'Edit', edit_decklist_path(decklist) %></td>
              <td><%= link_to 'Destroy', decklist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tbody>
        </table>
        <hr>
      <% else %>
        <div class="row">
          <div class="col-md-12">Log in to view your decklists</div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <h2>Public decklists</h2>
      <table class="table table-hover">
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th></th>
          <th></th>
          <th></th>
        </thead>
        <tbody>
          <% @public_decklists.each do |decklist| %>
            <tr id=<%="decklist_#{decklist.id}"%>>
              <td><%= decklist.name %></td>
              <td><%= decklist.description %></td>
              <td><%= link_to 'Show', decklist %></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
          </tr>
      </tbody>
      </table>
    </div>
    <hr>

    <br>

    <%= link_to 'New Decklist', new_decklist_path, :class => "btn btn-default", :method => "get" %>
