<p id="notice"><%= notice %></p>

<h1><%= @decklist.name %></h1>

<h3><%= @decklist.description %></h3>


<% @decklist.cards.each do |card| %>
  <div class="card-show"><%= card.quantity %> <%= card.name %></div>
<% end %>
<hr>
<%= button_to 'Edit', edit_decklist_path(@decklist), :method => "get", :class => "btn btn-success" %>
