<p id="notice"><%= notice %></p>

<h1><%= @decklist.name %></h1>

<h3><%= @decklist.description %></h3>

<% @decklist.changes.each do |c| %>
  <h3>Version Number <%= c[0] %></h3>
  <% c[1].each do |v| %>
    <p><%= v.curr_qty %> <%= v.curr_name %></p>
    <%= v.changeset %>
    <p><%= Card.find(v.item_id).quantity %> <%= Card.find(v.item_id).name %></p>
  <% end %>
<% end %>


<hr>
<%= button_to 'Edit', edit_decklist_path(@decklist), :method => "get", :class => "btn btn-success" %>
