<p id="notice"><%= notice %></p>

<h2><%= @decklist.name %></h2>
<hr>
<p><%= @decklist.description %></p>

<% @decklist.cards.each do |card| %>
  <div><%= card.quantity %> <%= card.name %></div>
<% end %>
<hr>

<div>Total: <strong><%= @decklist.total %></strong></div>
<button class="btn btn-primary">Copy Deck</button>

<div class="row">
<h3>Changes by Card</h3>
</div>
<hr>

<% @decklist.cards.each do |card| %>
  <h4><%= card.name %>  Added: <%= card.created_at %></h4>

  <% card.versions.each do |v| %>
    <% if v.event == "create" %>
      <p>+<%= v.prev_qty %> <%= v.prev_name %></p>
    <% end %>
    <% if v.event == "destroy" %>
      <p class="red-text">-<%= v.prev_qty %> <%= v.prev_name %></p>
    <% end %>
    <% if v.event == "update" %>
      <% if (not v.changeset[:name]) &&  (v.changeset[:quantity]) %>
        <% if v.changeset[:quantity][1]-v.changeset[:quantity][0] < 0 %>
          <% cardColor = 'class=red-text'%>
        <% end %>
        <p <%= cardColor %>><%= v.changeset[:quantity][1]-v.changeset[:quantity][0] %> <%= v[:prev_name] %></p>
      <% end %>
    <% end %>
    <% if (not v.changeset[:quantity]) &&  (v.changeset[:name]) %>
      <p class="green-text">+<%= v.prev_qty %> <%= v.changeset[:name].at(1) %>
      <p class="red-text">-<%= v.prev_qty %> <%= v.changeset[:name].at(0) %>
    <% end %>
  <% end %>
<% end %>

<hr>
<%= button_to 'Edit', edit_decklist_path(@decklist), :method => "get", :class => "btn btn-success" %>
