<!DOCTYPE html>
<html>
<head>
  <title>Gotdecks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <h1><%= link_to "Gotdecks", root_path  %></h1>
    <ul>
      <li><%= link_to "Decklists", decklists_path %></li>
      <li><%= link_to "Sign Up", new_user_path %></li>
      <li><%= link_to "Sign In", new_user_session_path %></li>
    </ul>

    <% flash.each do |type, message| %>
      <div class="alert flash <%= type %>">
        <%= message %>
      </div>
    <% end %>

<%= yield %>

</body>
</html>
